.categories {
  overflow-x: auto;
  white-space: nowrap;
  margin: 10px 10px;
  .categoriesContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    font-size: 1.3rem;
    gap: 10px;
  }
}
