.filterPrice {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
  justify-content: space-evenly;
  hr {
    height: 30px;
    width:2px;
    border-width:0;
    background-color: lightgray;
    margin: 0 30px 0 0;
    display: none;
  }
  .sortBy {
    color: var(--gray);
    margin-right: 10px;
  }
  .buttonContainer {
    display: flex;
    gap: 4px;
    .button {
      padding: 8px 12px;
      background-color: lightgray;
      font-size: 1rem;
      color: var(--gray);
      border: none;
      border-radius: 20px ;
      cursor: pointer;
      &.selected {
        background-color: var(--primary);
        color: white;
      }
    }
  }
}
