.navProducts {
  display: inline-block;
  .navProductsContainer {
    display: flex;
    .countProducts {
      font-size: var(--font-sm);
      font-weight: 500;
    }
    .buttonContainer {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-left: 4px;
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 20px;
        }
      }
    }
  }
  &:nth-of-type(2) {
    float: right;
    margin: 10px 10px 10px 0;
  }
  &:nth-of-type(3) {
    display: flex;
    justify-content: right;
  }
}

@media (min-width: 1024px) {
  .navProducts .navProductsContainer {
    .countProducts {
      font-size: var(--font-md);
    }
    .buttonContainer button img {
      width: 25px;
    }
  }
}
@media (min-width: 1024px) {
  .navProducts .navProductsContainer {
    .countProducts {
      font-size: var(--font-lg);
    }
    .buttonContainer button img {
      width: 35px;
    }
  }
}
