.navContainer {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  margin: 10px;
  align-items: center;
  .navProducts {
    .navProductsContainer {
      display: flex;
      .countProducts {
        font-size: 1.2rem;
        font-weight: 500;
      }
      .buttonContainer {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-left: 4px;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            width: 20px;
          }
        }
      }
    }
    &:nth-child(1) {
      margin-left: auto;
    }
  }
}
