@mixin buyBtn {
  padding: 8px;
  width: 80%;
  background-color: white;
  color: #3d3b3b;
  border: none;
  font-size: var(--font-btn-sm);
  border-radius: 20px;
  border: 1px solid transparent;

  @media (min-width: 1024px) {
    font-size: var(--font-btn-md);
  }
}

.modalProduct {
  background: var(--primaryOpacity);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  .costContainer {
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    .cost {
      display: inline-block;
      color: white;
      font-size: 1.5rem;
    }
    .imgContainer {
      width: 30px;
      height: 30px;
      img {
        width: 100%;
      }
    }
  }
  button.buyBtn {
    @include buyBtn;
    cursor: pointer;
    &:hover, :focus {
      border-color: black;
    }
  }
  span.buyBtn {
    @include buyBtn;
    cursor: default;
    &:hover, :focus {
      border-color: none;
    }
  }
}

@media (min-width: 1024px) {
  .modalProduct .costContainer .cost {
    font-size: var(--font-md);
  }
}
