.container {
  .hr {
    margin: 20px 10px;
    display: none;
  }
}

@media (min-width: 600px) {
  .container .desk {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
