.container {
  .line {
    margin: 20px 10px;
    display: none;
  }
  .desk::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 770px) {
  .container {
    .line {
      display: block;
    }
    .desk {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        display: none;
      }
    }
  }
}
