.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  .imgContainer {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    .category {
      color: var(--gray);

    }
  }
  .priceContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    .price {
      color: var(--gray);
    }
    img {
      width: 20px;
      padding-top: 5px;
    }
  }
}
