.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin: 10px;
  align-items: center;
  .logo {
    width: 20px;
  }
  .linksContainer {
    font-size: 1.3rem;
    a {
      text-decoration: none;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .userContainer {
    display: flex;
    align-items: center;
    .user {
      margin-right: 10px;
    }
    .coinContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: lightgray;
      border-radius: 20px;
      padding: 2px 4px 4px 6px;
      div {
        width: 20px;
        height: 20px;
        padding-top: 2px;
        img {
          width: 100%;
        }
      }
    }
  }
}
