.nav {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-sm);
  padding: 10px;
  align-items: center;
  background-color: white;
  .logo {
    width: 20px;
  }
  .linksContainer {
    a {
      text-decoration: none;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  .userContainer {
    display: flex;
    align-items: center;
    .user {
      margin-right: 10px;
    }
    .coinContainer {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: lightgray;
      border-radius: 20px;
      padding: 2px 4px 4px 6px;
      div {
        width: 20px;
        height: 20px;
        padding-top: 2px;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .nav {
    font-size: var(--font-md);
    .logo {
      width: 30px;
    }
    .linksContainer a:first-child {
      margin-right: 30px;
    }
    .userContainer .coinContainer div {
      width: 30px;
      height: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .nav {
    font-size: var(--font-lg);
  }
}
